<!DOCTYPE html>
<html>
<head>
    <title>Admin SOS Alerts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="logo">Admin Panel</div>
    <div class="nav-links">
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/sos">SOS Alerts</a>
        <a href="/admin/login">Logout</a>
    </div>
</div>


<div class="dashboard">
    <h1>🚨 SOS Alerts</h1>

    <table class="admin-table">
        <tr>
            <th>Location</th>
            <th>Status</th>
        </tr>

        {% for alert in alerts %}
        <tr>
            <td>{{ alert.location }}</td>
            <td style="color:red;font-weight:bold;">{{ alert.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
