<!DOCTYPE html>
<html>
<head>
    <title>SmartTourist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="logo">SmartTourist</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Signup</a>
        <a href="/map">Map</a>
        <a href="/admin">Admin</a>
    </div>
</div>



<div class="top-hero">
    <h1>Smart Tourist Safety System</h1>
    <p>AI + IoT based safety solution</p>
    <a href="/sos" class="sos-home-btn">🚨 SOS</a>

</div>

</body>
</html>
