<!DOCTYPE html>
<html>
<head>
    <title>SmartTourist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="logo">SmartTourist</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/map">Map</a>
    </div>
</div>

<div class="sos-bar">
    <a href="/sos" class="sos-btn">🚨 SOS</a>
</div>

<div class="hero">
    <h1>Smart Tourist Safety System</h1>
    <p>AI + IoT based safety solution</p>

    <div class="login-buttons">
        <a href="/login" class="btn tourist">Tourist Login</a>
        <a href="/admin/login" class="btn admin">Admin Login</a>
    </div>
</div>

</body>
</html>
