<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <style>
        #map {
            height: 450px;
            border-radius: 12px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="navbar">
    <div class="logo">SmartTourist</div>

    <div class="sos-center">
        <a href="/sos" class="sos-btn">🚨 SOS</a>
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/map">Map</a>
    </div>
</div>

<div class="page-container">
    <h1>Tourist Location Map</h1>
    <div id="map"></div>
</div>

<script>
    const map = L.map('map').setView([20.5937, 78.9629], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap'
    }).addTo(map);
</script>

</body>
</html>
