<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="logo">SmartTourist</div>
</div>

<div class="auth-box">
    <h1>Create Account</h1>
    <form method="post">
        <input type="text" placeholder="Full Name" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button>Register</button>
    </form>
</div>

</body>
</html>
