<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="logo">SmartTourist</div>

    <div class="sos-center">
        <a href="/sos" class="sos-btn">🚨 SOS</a>
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/map">Map</a>
    </div>
</div>

<div class="auth-container">
    <div class="auth-box">
        <h1>Emergency SOS</h1>

        <form method="post">
            <button class="primary-btn">SEND SOS</button>
        </form>
    </div>
</div>

</body>
</html>
